/*A*/
.icon-acrobatic { background-image: url(../img/acrobatic.png);}
.icon-ak47 { background-image: url(../img/ak47.png);}
.icon-ambulance { background-image: url(../img/ambulance.png);}
.icon-anarchy { background-image: url(../img/anarchy.png);}
.icon-anatomy { background-image: url(../img/anatomy.png);}
.icon-andromeda-chain { background-image: url(../img/andromeda-chain.png);}
.icon-archer { background-image: url(../img/archer.png);}
.icon-arm-bandage { background-image: url(../img/arm-bandage.png);}
.icon-arrow-scope { background-image: url(../img/arrow-scope.png);}
.icon-aura { background-image: url(../img/aura.png);}
.icon-auto-repair { background-image: url(../img/auto-repair.png);}

/*B*/
.icon-bandit { background-image: url(../img/bandit.png);}
.icon-binoculars { background-image: url(../img/binoculars.png);}
.icon-bleeding-wound { background-image: url(../img/bleeding-wound.png);}
.icon-bowie-knife { background-image: url(../img/bowie-knife.png);}
.icon-broken-bone { background-image: url(../img/broken-bone.png);}
.icon-bullseye { background-image: url(../img/bullseye.png);}

/*C*/
.icon-catch { background-image: url(../img/catch.png);}
.icon-circuitry { background-image: url(../img/circuitry.png);}
.icon-clip-eject { background-image: url(../img/clip-eject.png);}
.icon-computing { background-image: url(../img/computing.png);}
.icon-cowled { background-image: url(../img/cowled.png);}
.icon-crags { background-image: url(../img/crags.png);}
.icon-crash { background-image: url(../img/crash.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-cross-mark { background-image: url(../img/cross-mark.png);}
.icon-crossbow { background-image: url(../img/crossbow.png);}
.icon-crosshair-arrow { background-image: url(../img/crosshair-arrow.png);}
.icon-crossed-chains { background-image: url(../img/crossed-chains.png);}
.icon-cryo-chamber { background-image: url(../img/cryo-chamber.png);}
.icon-crystal-ball { background-image: url(../img/crystal-ball.png);}
.icon-crystal-bars { background-image: url(../img/crystal-bars.png);}
.icon-cycle { background-image: url(../img/cycle.png);}

/*D*/
.icon-database { background-image: url(../img/database.png);}
.icon-despair { background-image: url(../img/despair.png);}
.icon-digital-trace { background-image: url(../img/digital-trace.png);}
.icon-dodging { background-image: url(../img/dodging.png);}
.icon-double-street-lights { background-image: url(../img/double-street-lights.png);}
.icon-drop-weapon { background-image: url(../img/drop-weapon.png);}
.icon-drowning { background-image: url(../img/drowning.png);}

/*E*/
.icon-eclipse-flare { background-image: url(../img/eclipse-flare.png);}
.icon-electrical-resistance { background-image: url(../img/electrical-resistance.png);}
.icon-embarrassed-energy { background-image: url(../img/embrassed-energy.png);}
.icon-eye-target { background-image: url(../img/eye-target.png);}


/*F*/
.icon-falling { background-image: url(../img/falling.png);}
.icon-files { background-image: url(../img/files.png);}
.icon-flash-grenade { background-image: url(../img/flash-grenade.png);}
.icon-flying-flag { background-image: url(../img/flying-flag.png);}

/*G*/
.icon-gaze { background-image: url(../img/gaze.png);}
.icon-gps { background-image: url(../img/gps.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-guarded-tower { background-image: url(../img/guarded-tower.png);}
.icon-gunshot { background-image: url(../img/gunshot.png);}
.icon-gun-rose { background-image: url(../img/gun-rose.png);}

/*H*/
.icon-hand-truck { background-image: url(../img/hand-truck.png);}
.icon-handcuffed { background-image: url(../img/handcuffed.png);}
.icon-hazard-sign { background-image: url(../img/hazard-sign.png);}
.icon-hearing-disabled { background-image: url(../img/hearing-disabled.png);}
.icon-high-kick { background-image: url(../img/high-kick.png);}

/*I*/
.icon-imprisoned { background-image: url(../img/imprisoned.png);}
.icon-info { background-image: url(../img/info.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-ifrit { background-image: url(../img/ifrit.png);}
.icon-internal-injury { background-image: url(../img/internal-injury.png);}

/*J*/
.icon-jack-plug { background-image: url(../img/jack-plug.png);}
.icon-jeep { background-image: url(../img/jeep.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-jump-across { background-image: url(../img/jump-across.png);}

/*K*/
.icon-knockout { background-image: url(../img/knockout.png);}

/*L*/
.icon-leapfrog { background-image: url(../img/leapfrog.png);}
.icon-lever { background-image: url(../img/lever.png);}

/*M*/
.icon-machine-gun-magazine { background-image: url(../img/machine-gun-magazine.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-microscope-lens { background-image: url(../img/microscope-lens.png);}
.icon-molecule { background-image: url(../img/molecule.png);}
.icon-mountain-climbing { background-image: url(../img/mountain-climbing.png);}
.icon-multiple-targets { background-image: url(../img/multiple-targets.png);}
.icon-muscle-up { background-image: url(../img/muscle-up.png);}
.icon-mute { background-image: url(../img/mute.png);}


/*N*/
.icon-nano-bot { background-image: url(../img/nano-bot.png);}
.icon-nested-hexagons { background-image: url(../img/nested-hexagons.png);}
.icon-nothing-to-say { background-image: url(../img/nothing-to-say.png);}


/*O*/
.icon-open-folder { background-image: url(../img/open-folder.png);}

/*P*/
.icon-paranoia { background-image: url(../img/paranoia.png);}
.icon-police-target { background-image: url(../img/police-target.png);}
.icon-power-button { background-image: url(../img/power-button.png);}
.icon-processor { background-image: url(../img/processor.png);}
.icon-pummeled { background-image: url(../img/pummeled.png);}

/*Q*/


/*R*/
.icon-radar-sweep { background-image: url(../img/radar-sweep.png);}
.icon-read { background-image: url(../img/read.png);}
.icon-relationship-bounds { background-image: url(../img/relationship-bounds.png);}
.icon-reload-gun-barrel { background-image: url(../img/reload-gun-barrel.png);}
.icon-resize { background-image: url(../img/resize.png);}
.icon-run { background-image: url(../img/run.png);}

/*S*/
.icon-save { background-image: url(../img/save.png);}
.icon-server-rack { background-image: url(../img/server-rack.png);}
.icon-shotgun-rounds { background-image: url(../img/shotgun-rounds.png);}
.icon-sight-disabled { background-image: url(../img/sight-disabled.png);}
.icon-skills { background-image: url(../img/skills.png);}
.icon-skull-crossed-bones { background-image: url(../img/skull-crossed-bones.png);}
.icon-shield-reflect { background-image: url(../img/shield-reflect.png);}
.icon-shieldcomb { background-image: url(../img/shieldcomb.png);}
.icon-spiked-bat { background-image: url(../img/spiked-bat.png);}
.icon-speedometer { background-image: url(../img/speedometer.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-spy { background-image: url(../img/spy.png);}
.icon-stack { background-image: url(../img/stack.png);}
.icon-star-pupil { background-image: url(../img/star-pupil.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-stun-grenade { background-image: url(../img/stun-grenade.png);}
.icon-sunbeams { background-image: url(../img/sunbeams.png);}
.icon-surrounded-shield { background-image: url(../img/surrounded-shield.png);}
.icon-swerve { background-image: url(../img/swerve.png);}
.icon-swim { background-image: url(../img/swim.png);}

/*T*/
.icon-talk { background-image: url(../img/talk.png);}
.icon-targeting { background-image: url(../img/targeting.png);}
.icon-telepathy { background-image: url(../img/telepathy.png);}
.icon-tinker { background-image: url(../img/tinker.png);}
.icon-toggles { background-image: url(../img/toggles.png);}
.icon-two-shadows { background-image: url(../img/two-shadows.png);}

/*U*/
.icon-upgrade { background-image: url(../img/upgrade.png);}

/*V*/
.icon-vr-headset { background-image: url(../img/vr-headset.png);}

/*W*/
.icon-walk { background-image: url(../img/walk.png);}
.icon-walking-boot { background-image: url(../img/walking-boot.png);}
.icon-wifi-router { background-image: url(../img/wifi-router.png);}
.icon-wireframe-globe { background-image: url(../img/wireframe-globe.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}

/*X*/


/*Y*/


/*Z*/

