.icon-ak47 { background-image: url(../img/ak47.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-crags { background-image: url(../img/crags.png);}
.icon-cowled { background-image: url(../img/cowled.png);}
.icon-dodging { background-image: url(../img/dodging.png);}
.icon-falling { background-image: url(../img/falling.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-handcuffs { background-image: url(../img/handcuffs.png);}
.icon-jeep { background-image: url(../img/jeep.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-jump-across { background-image: url(../img/jump-across.png);}
.icon-leapfrog { background-image: url(../img/leapfrog.png);}
.icon-machine-gun-magazine { background-image: url(../img/machine-gun-magazine.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-mountain-climbing { background-image: url(../img/mountain-climbing.png);}
.icon-shotgun-rounds { background-image: url(../img/shotgun-rounds.png);}
.icon-spiked-bat { background-image: url(../img/spiked-bat.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-surrounded-shield { background-image: url(../img/surrounded-shield.png);}
.icon-walk { background-image: url(../img/walk.png);}
